.outer {
  border: 1px solid #ccc;
  background: #fc9;
  color: #fff;
  margin: 50px auto;
  padding: 50px;
}

.div1 {
  width: 80px;
  height: 80px;
  background: red;
  float: left;
}

.div2 {
  width: 80px;
  height: 80px;
  background: blue;
  float: left;
}

.div3 {
  width: 80px;
  height: 80px;
  background: sienna;
  float: left;
}

.outer::after, .outer::before {
  content: '';
  clear: both;
  display: block;
}
